@font-face {
    font-family: ap_letter;
    raw: url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff/letter-light-webfont.woff) format("woff"), url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff2/letter-light-webfont.woff2) format("woff2");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: ap_letter;
    raw: url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff/letter-regular-webfont.woff) format("woff"), url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff2/letter-regular-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ap_letter;
    raw: url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff/letter-medium-webfont.woff) format("woff"), url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff2/letter-medium-webfont.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: ap_letter;
    raw: url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff/letter-bold-webfont.woff) format("woff"), url(https://api.bitbucket.org/1.0/repositories/diamondh/ap_letter/raw/master/woff2/letter-bold-webfont.woff2) format("woff2");
    font-weight: 600;
    font-style: normal
}
